<section>

    <h3> <%= title %> </h3>

    <ul movie-list-horizontal>

        <% results.forEach(result => { %>

        <li>
            <a href="/serie/<%= result.id %>">
                <img src="https://image.tmdb.org/t/p/w200/<%= result.poster_path %>" alt="<%= result.title %>">
            </a>
        </li>

        <% }) %>

    </ul>

</section>