<%- include ('../components/head') %>

<main>
    <ul movie-list>

        <% genres.forEach(genre => { %>

        <li>
            <a href="/genre/<%= genre.id %>">
                <p><%= genre.name %></p>
            </a>
        </li>

        <% }) %>

    </ul>
</main>

<%- include ('../components/footer') %>