<html>

<body>

    <h1><%= title %></h1>

    <% movies.forEach(movie => { %>

    <article>
        <a href="/movie/<%= movie.id %>">
            <p><%= movie.original_title %></p>
            <img src="https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>">
        </a>
    </article>

    <% }) %>

</body>

</html>