<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>progressive-web-apps-1920 </title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <%- include('header') %>