<%- include ('../components/head') %>

<article>
    <img src="https://image.tmdb.org/t/p/w400/<%= movie.poster_path %>">
    <div>
        <h1><%= movie.original_title %></h1>
        <p><span>Overview: </span><span movie.overview %></p>
    </div>
</article>

<%- include ('../components/footer') %>